* {
  box-sizing: border-box;
}

main {
  font-family: "Tahoma";
}

.product {
  display: flex;
  padding: 77px 9% 95px 9%;
}

.product-photo {
  width: 404px;
  height: 630px;

  margin-right: 75px;
}

.product-name {
  font-size: 48px;
  font-weight: bold;
}

.author {
  font-size: 30px;
}

.product-desription {
  font-size: 18px;
  line-height: 27px;
}

.price {
  font-size: 48px;
  line-height: 27px;
  color: #313131;
}

.buy {
  width: 175px;
  height: 67px;

  margin-right: 40px;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;

  border: 0;
  border-radius: 5px;
  background-color: #f05a22;
  color: #ffffff;
}

.information {
  width: 287px;
  height: 67px;

  font-size: 24px;
  font-weight: bold;
  text-align: center;

  border: 2px solid #f05a22;
  border-radius: 5px;
  background-color: #ffffff;
  color: #f05a22;
}

.delivery {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

.delivery-header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 90px;

  font-size: 30px;
  font-weight: bold;

  color: #333333;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.description-icon {
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans";
}

.customers {
  padding-top: 90px;
  padding-bottom: 90px;
}

.customers-header {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 30px;
  font-weight: bold;
  text-align: center;

  color: #333333;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  width: 275px;
  height: 275px;
  margin: 10px;
}
